.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    gap: 20px;
}


.menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    justify-content: space-between;
    margin: 20px 0;
    gap: 25px
}

.items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    margin-top: 20px;
}


.categories {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 70px;
    border-radius: 30px;
    background-color: var(--theme);
    /* Adjust the background color to your theme */
}



.category-select {
    max-width: 100%;
    padding: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    color: white;
    outline: none;
    border-radius: 10px;
    position: relative;
}


.category-select option {
    color: black;
}

.category-select {
    padding-right: 30px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.category-select option:checked {
    background-color: var(--theme);
    color: white;
}

/* .category-select:active {

    background-color: #ab3326;
} */





/* 
.search-bar {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search {
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: var(--theme);
    padding-right: 40px;
    color: var(--theme);
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
}

.input-search::placeholder {
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}

.btn-search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color: #ffffff;
    background-color: transparent;
    pointer-events: painted;
}

.btn-search:focus~.input-search {
    width: 500px;
    border-radius: 20px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus {
    width: 500px;
    border-radius: 20px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
} */











.search-bar {
    width: fit-content;
    display: flex;
    align-items: center;
    position: relative;
}

.input-search {
    height: 50px;
    width: 100%;
    border: none;
    padding: 0 50px 0 20px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 0.5s ease-in-out;
    background-color: white;
    color: black;
}

.input-search::placeholder {
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
    color: black;
}

.btn-search {
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0;
    color: var(--theme);
    background-color: transparent;
    pointer-events: painted;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--theme);
}






/* Loader */
.three-body {
    --uib-size: 35px;
    --uib-speed: 0.8s;
    --uib-color: var(--theme);
    position: relative;
    display: inline-block;
    height: var(--uib-size);
    width: var(--uib-size);
    animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
    position: absolute;
    height: 100%;
    width: 30%;
}

.three-body__dot:after {
    content: '';
    position: absolute;
    height: 0%;
    width: 100%;
    padding-bottom: 100%;
    background-color: var(--uib-color);
    border-radius: 50%;
}

.three-body__dot:nth-child(1) {
    bottom: 5%;
    left: 0;
    transform: rotate(60deg);
    transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite ease-in-out;
    animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
    bottom: 5%;
    right: 0;
    transform: rotate(-60deg);
    transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite calc(var(--uib-speed) * -0.15) ease-in-out;
}

.three-body__dot:nth-child(3) {
    bottom: -5%;
    left: 0;
    transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
    top: 0;
    left: 0;
    animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes wobble1 {

    0%,
    100% {
        transform: translateY(0%) scale(1);
        opacity: 1;
    }

    50% {
        transform: translateY(-66%) scale(0.65);
        opacity: 0.8;
    }
}

@keyframes wobble2 {

    0%,
    100% {
        transform: translateY(0%) scale(1);
        opacity: 1;
    }

    50% {
        transform: translateY(66%) scale(0.65);
        opacity: 0.8;
    }
}


.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.back-to-top-btn {
    background-color: var(--theme);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


@media (max-width: 768px) {

    .items {
        grid-template-columns: repeat(1, 1fr);

    }

    .menu-container {
        grid-template-columns: 1fr;

    }

    .categories {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px;
    }

    .category-select {
        max-width: 100%;
        padding: 8px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-size: 16px;
        color: white;
        outline: none;
        border-radius: 10px;
        position: relative;
        flex: 1;
    }

    .search-bar {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin-top: 20px;
    }

    .input-search {
        width: 100%;
    }
}